---
const { show } =  Astro.props;
import Chip from './chip.astro';

function getStarRating(rating) {
  const roundedRating = Math.round(rating * 2) / 2; // Round to nearest 0.5
  const stars = [];
  for (let i = 1; i <= 10; i++) {
      if (roundedRating >= i) {
          stars.push('★'); 
      } else {
          stars.push('☆'); 
      }
  }
  return stars.join(' '); 
}
---
<div>
    <div
    class="show--card"
  >
    <div>
      <div>
        <img class="show--image" src={show.image} alt={show.name} />
        <div class="show--text">
          <h1>{show.name}</h1>
          {show.genres.map((genre) => (
            <Chip text={genre}></Chip>
          ))}
          <h3>{show.network ? show.network : 'Unknown streaming'}</h3>
          <div class="star-rating">
            {getStarRating(show.rating)}
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .show--card {
    margin: 20px;
    border-radius: 8px;
    width: 375px;
    height: 550px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: 0.5s;
  }

  .show--card:hover {
    transform: scale(1.01);
  }

  .show--image {
    width: 375px;
    height: 300px;
    object-fit: cover;
  }

  .show--text {
    margin: 20px;
  }

  .star-rating {
      display: flex;
      align-items: center;
      margin-top: 8px;
      color: #f8ce0b;
      font-size: 1.3rem;
  }

  .star-rating span {
      color: #f8ce0b;
      margin-right: 4px;
  }
</style>